html, body, #root, #columns{
    height: 100%;
    margin: 0;
}
#columns{
    display: flex;
    flex-flow: row;
}
div.column{
    width: 75ex;
    flex-shrink: 0;
    word-break: break-all;
}
li.selected{
    background-color: yellow;
}
#menu{
    overflow: hidden;
    top: 0;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.75);
}
#display{
    margin-top: 16ex;
}
input.selector{
    width: 15ex;
}
button{
    padding: 0;
    font-size: 50%;
    vertical-align: text-bottom;
}
.done, .dont{
    color: rgb(170, 170, 170);
}
textarea{
    vertical-align: text-bottom;
}

div.menu{
    background-color: white;
}
div.running{
    background-color: Moccasin;
}
textarea{
    border-color: rgb(235, 235, 235);
}
@media screen and (prefers-color-scheme: dark) {
    html{
        filter: invert(1);
    }
}
